[2013-12-30 12:34] A opened #1 "Сделать блог на Jekyll для публикации статей"
- [x] Дизайн [авторского блога](http://addyosmani.com/largescalejavascript/)
- [x] Добавить сноски. мне очень нравятся сноски [как у kizu](http://kizu.ru/blog/ios7/)
- [x] Разместить содержимое файла `00_intro.md` в шапке главной страницы.
- [x] Кнопки «Предыдущая глава»/«Следующая глава» на странице главы
- [x] Кнопки соц. сетей

[2013-12-30 12:46] A opened #2 "Can you summarize this article in 140 characters?"
У меня как-то не получилось объяснить содержимое статьи в твитте. Вот оригинальный текст:

[2013-12-30 12:54] A opened #3 "Глава 1"

[2013-12-30 12:56] A opened #4 "Введение"

[2013-12-30 12:57] A opened #5 "Глава 2"

[2013-12-30 12:58] A opened #6 "Глава 3"

[2013-12-30 12:58] A opened #7 "Глава 4"

[2013-12-30 13:04] A opened #8 "Глава 5"

[2013-12-30 13:05] A opened #9 "Глава 5"

[2013-12-30 13:05] A opened #10 "Глава 6"

[2013-12-30 13:05] A opened #11 "Глава 7"

[2013-12-30 13:05] A opened #12 "Глава 8"

[2013-12-30 13:05] A opened #13 "Глава 9"

[2013-12-30 13:06] A opened #14 "Глава 10"

[2013-12-30 13:06] A opened #15 "Глава 11"

[2013-12-30 13:06] A opened #16 "Глава 12"

[2013-12-30 13:06] A opened #17 "Глава 13"

[2013-12-30 13:06] A opened #18 "Credits"

[2013-12-30 13:10] A commented on #1
Начну, пожалуй, делать блог.

[2013-12-30 13:14] iamstarkov commented on #7
сегодня вычитаю

[2013-12-30 13:18] A commented on #7
Крутяк!

[2013-12-30 14:51] A commented on #1
Добавил немного Jekyll. Верстки еще практически нет. Запушил в master, чтобы работать прямо сейчас в той файловой структуре, которая будет после Jekyll. Переводы теперь в `_translations`

[2013-12-30 14:56] iamstarkov commented on #1
ок. кстати, как сделаны сноски у кизу?

[2013-12-30 18:11] A commented on #1
Основная идея — вот такой селектор: `.sidenote-context:hover + .sidenote`. Вот только я бы позиционировал саму сноску через `pos:a` без указания `top`, вместо `fl:r`.

Вот CSS:
https://github.com/kizu/kizu.github.com/blob/master/s/all.styl#L297

Вот MD:
https://raw.github.com/kizu/kizu.github.com/master/_posts/blog/2013-09-19-ios7.md

Я думаю, можно гораздо скромнее все сделать, но сама идея потря

[2014-01-01 12:43] A commented on #1
В принципе, можно выкатывать на gh-pages, но я еще не работал над дизайном. В этом отношении мне ничего не нравится тут =(

[2014-01-01 13:25] A opened #23 "Выбор доменного имени"

[2014-01-01 14:47] A opened #24 "Избавиться от повторения текста в переводе и в посте"
Думаю, попробовать перенести перевод в `_includes`, а в посте писать `{% include translation/01_chapter-1.md %}`.

Правда, не уверен, что заработает.

[2014-01-01 16:12] A commented on #1
Сделал сноски. В плане кода — стилизовав один класс `.sidenote`.

[2014-01-01 16:31] A opened #27 "Добавить ссылку на RSS на сайте"

[2014-01-01 16:31] #1 closed, assigned to A

[2014-01-01 16:31] A commented on #1
http://shuvalov-anton.github.io/Patterns-For-Large-Scale-JavaScript-Application-Architecture//

[2014-01-01 16:32] A opened #28 "Удалить ветку master"

[2014-01-02 12:33] A opened #29 "Названия глав вместо «следующая глава» / «предыдущая глава»"

[2014-01-02 13:45] #28 closed, assigned to A

[2014-01-02 14:01] A commented on #27
Ссылку-то! Забыл.

[2014-01-02 14:24] #27 closed, assigned to A

[2014-01-02 14:55] #24 closed, assigned to A

[2014-01-02 15:14] #29 closed, assigned to A

[2014-01-02 15:23] A opened #34 "Добавить favicon"
Ума не приложу, что можно там поместить...

[2014-01-02 16:30] A opened #35 "add GA."

[2014-01-03 11:50] A commented on #23
http://largescalejavascript.ru/

[2014-01-03 19:38] A opened #36 "Привязать домен к gh-pages"

[2014-01-03 19:38] A commented on #23
купил

[2014-01-03 19:38] #23 closed, assigned to nobody

[2014-01-03 19:39] A commented on #36
https://help.github.com/articles/setting-up-a-custom-domain-with-pages

[2014-01-03 20:04] iamstarkov commented on #23
еа

[2014-01-04 05:59] #36 closed, assigned to nobody

[2014-01-04 06:27] A commented on #36
http://largescalejavascript.ru/

[2014-01-04 09:18] iamstarkov commented on #2
от меня есть ещё такой вариант

[2014-01-04 09:20] A commented on #2
Так немного лучше. Но меня смущает то, что мы ничего не говорим о событиях:

[2014-01-04 09:21] A commented on #2
Кстати, я опечатался в слове «сязанности» хД

[2014-01-04 10:43] iamstarkov commented on #2
медиатор по умолчанию работает не через события, верно?

[2014-01-04 10:59] A commented on #2
В моей глове перемешались «медиатор», «обсервер», «паблишер/сабскрайбер», «евент-еммиттер», и я потерял нить. Особенно после этого «mediator acts as pub/sub mgr». Может написать как-нибудь так

«... Медиатор обеспечивает взаимодействие между модулями ...»

[2014-01-06 13:38] A commented on #3
@matmuchrapna @freetonik Не знаю как правильно перевести:

[2014-01-06 13:44] freetonik commented on #3
Грязный вариант (требует редактуры)

[2014-01-06 13:45] A commented on #6
@matmuchrapna @freetonik Не уверен, что могу красиво перевести:

[2014-01-06 13:48] A commented on #5
@matmuchrapna @freetonik не могу перевести:

[Оригинал главы](https://github.com/shuvalov-anton/Patterns-For-Large-Scale-JavaScript-Application-Architecture/blob/gh-pages/_includes/translation/eng/02_lets-review-your-current-architecture.md)

[2014-01-06 13:53] freetonik commented on #6
Очень грязная версия:

[2014-01-06 13:56] A commented on #6
[Контекст](https://github.com/shuvalov-anton/Patterns-For-Large-Scale-JavaScript-Application-Architecture/blob/gh-pages/_includes/translation/eng/03_think-long-term.md)

Все файлы на англ. и переводы лежат [тут](https://github.com/shuvalov-anton/Patterns-For-Large-Scale-JavaScript-Application-Architecture/tree/gh-pages/_includes/translation)

[2014-01-06 13:58] A commented on #3
Круто! Это я и не мог перевести!

[2014-01-06 14:03] freetonik commented on #6
Все равно непонятно. Предлагаю сделать абстрактно:

[2014-01-06 14:17] A commented on #8
Начал

[2014-01-06 14:54] A commented on #9
начал

[2014-01-06 15:33] A opened #40 "Глава 14"

[2014-01-06 19:58] A opened #41 "Код в тексте выглядит плохо."
![screen shot 2014-01-07 at 01 57 35](https://f.cloud.github.com/assets/1410106/1866198/714ac1aa-782a-11e3-952f-e5b9f00e415d.png)

[2014-01-06 20:45] A commented on #9
Перевел

[2014-01-07 11:50] A commented on #10
Начал

[2014-01-07 11:59] A opened #42 "Подсветка кода"
Я думаю, этого будет достаточно:

[code]

[2014-01-07 12:00] A commented on #42
Или, даже лучше, разобраться с `pygments`

[2014-01-07 13:35] A commented on #10
Не уверен, что могу перевести правильно:

[2014-01-07 21:53] iamstarkov commented on #42
лучше просто добавить highlight.js и забыть об этом

[2014-01-07 21:54] iamstarkov commented on #41
картинка побилась

[2014-01-08 06:05] A commented on #42
Ну, может быть, и так. Я думал о том, что:
1. Есть только JS,
2. `pygments` уже установлен в Jekyll, и, насколько я понимаю, он при компиляции сайта все свои дела делает.

Но я как-то не разобрался с ним. В `highlight.js` меня смущает к-во ошибок в распознавании кода.

[2014-01-08 11:22] #42 closed, assigned to nobody

[2014-01-08 11:57] A commented on #41
Вроде стало получше
![screen shot 2014-01-08 at 17 57 19](https://f.cloud.github.com/assets/1410106/1867907/0f940d18-785c-11e3-8d20-8da6448b2081.png)

[2014-01-08 11:57] #41 closed, assigned to nobody

[2014-01-08 14:52] freetonik commented on #4
Имхо, имена нужно переводить.

[2014-01-08 14:53] A commented on #4
Ок, поправлю

[2014-01-08 16:42] iamstarkov commented on #41
хорошо получилось

[2014-01-08 17:34] A commented on #41
@matmuchrapna А тут как тебе?
http://largescalejavascript.ru/module-pattern/

[2014-01-08 17:53] A opened #43 "Избавиться от дублирования лида в intro.md и в index.md"

[2014-01-08 17:54] #43 closed, assigned to A

[2014-01-09 07:54] iamstarkov commented on #41
я бы уменьшил инлайновый код до 15px, чтобы размеры букв совпадали оптически

[code]

[2014-01-09 08:01] A commented on #41
Да, сделал весь код 15px

[2014-01-10 08:02] A commented on #12
Перевел

[2014-01-10 10:40] A opened #44 "FAQ"

[2014-01-10 11:54] iamstarkov commented on #34
Оригинал
[![js](https://f.cloud.github.com/assets/559321/1886722/4916d416-79ed-11e3-8371-512d018a2868.png)](https://f.cloud.github.com/assets/559321/1886722/4916d416-79ed-11e3-8371-512d018a2868.png)

[2014-01-10 11:57] iamstarkov commented on #34
Добавил иконку, посмотрите ПР

[2014-01-10 12:01] A commented on #34
Нужно добавить в Jekyll [_layouts/page.html](https://github.com/shuvalov-anton/Patterns-For-Large-Scale-JavaScript-Application-Architecture/blob/gh-pages/_layouts/page.html#L3), чтобы закрыть таск.

[2014-01-10 12:05] iamstarkov commented on #34
Это необязательно, если иконка лежит в стандартном месте.

[2014-01-10 12:05] A commented on #34
Ок, тогда мержу

[2014-01-10 12:06] #34 closed, assigned to nobody

[2014-01-10 12:06] iamstarkov commented on #34
У меня в блоге так и всё работает. в h5bp тоже отказались в какой-то раней версии

[2014-01-10 12:07] A commented on #34
Честно говоря, не знал о такой штуке. Теперь буду знать)

[2014-01-10 15:24] A opened #47 "Перенос оригинальных акцентов в тексте"
Речь о выделенных цветом блоках.

[2014-01-10 15:36] iamstarkov commented on #47
ПОСМОТРЕТ
@
НЕПОНИМАТ
![](http://salesreport.ru/wp-content/uploads/4201.jpg)

[2014-01-10 17:08] A commented on #47
Я вот такие штуки пропускал.
![screen shot 2014-01-10 at 23 07 50](https://f.cloud.github.com/assets/1410106/1889333/c9c62f54-7a19-11e3-9686-c78ef81dccc9.png)

[2014-01-10 17:20] iamstarkov commented on #47
теперь понимать

[2014-01-11 08:57] A opened #48 "Верстка под мобильные"
Думаю, все обойдется добавлением пары `media queries`.

[2014-01-12 11:58] A opened #49 "/dev.html"
На странице `index.html` будут только вычитанные и опубликованные главы. На странице `dev.html` будут все переведенные главы, включая опубликованные и не опубликованные.

[2014-01-12 12:46] A opened #50 "Ссылка «Следите за публикациями в Twitter»"
Не все пользуются RSS, по этому я завел аккаунт в Twitter — [@LargeJS](https://twitter.com/LargeJS), в котором я планирую публиковать ссылки на новые переводы два раза в неделю.

[2014-01-12 12:51] A commented on #49
Наверное, все таки лучше использовать `--drafts`. Изначально думал предложить краудсорсинг, типа «если вам интересно, что дальше — помогите вычитать вот тут все», а сейчас подумал, что вряд ли я хочу чтобы у пользователей была такая возможность в обход гитхаба. Они же просто прочитают невычитанный перевод и забьют, а на нормальный уже не будут возвращаться.

[2014-01-12 12:54] #49 closed, assigned to A

[2014-01-12 13:00] A opened #51 "Добавить свой лид о книге + информацию о формате публикаций"
Думаю, что сейчас можно заменить лид из книги, на свой лид, и написать о том, что книга находится в процессе перевода, и регулярно, 2 раза в неделю будет публиковаться новая глава.

[2014-01-12 13:16] A opened #52 "Цвет сноски как у блока кода"
Меньше — лучше.

[2014-01-12 13:51] iamstarkov commented on #52
:up:

[2014-01-12 13:52] iamstarkov commented on #50
хорошая идея

[2014-01-12 13:53] A commented on #51
@matmuchrapna @freetonik думаете так будет ок?

[2014-01-12 13:55] A commented on #50
[Добавил иконку твиттера](https://github.com/shuvalov-anton/Patterns-For-Large-Scale-JavaScript-Application-Architecture/commit/44d0a122caf3f63b683018592758e2d8006f08b8) рядом с иконкой RSS. И в лиде написал «Следите за публикациями в твиттере или рсс». Надеюсь этого хватит)

[2014-01-12 13:57] A commented on #50
Вообще, у я думаю, что можно будет позднее взять еще одну книгу, тогда фолловеры в твиттере будут весьма полезны. Но это пока очень смутно, конечно.

[2014-01-12 13:57] #50 closed, assigned to nobody

[2014-01-12 14:00] #52 closed, assigned to nobody

[2014-01-12 14:03] iamstarkov commented on #51
думаю, что не совсем. Надо оставить оригинальный лид из книги, а перед ним опубликовать вступление «от переводчика»

[2014-01-12 14:04] iamstarkov commented on #50
В лиде ошибки:
- RSS ссылается на твиттер
- в последних двух строчках «публикация» встречается три раза

[2014-01-12 14:05] iamstarkov commented on #50
для RSS лучше использовать feedburner

[2014-01-12 14:06] iamstarkov commented on #50
нужно будет делать отдельным проектом, да. но это если здесь взлетит

[2014-01-12 14:06] iamstarkov commented on #49
верно

[2014-01-12 14:19] A commented on #51
Понял. А то, что я написал, по твоему, сгодится как вступление от переводчика?

[2014-01-12 14:28] A commented on #50
Какие плюсы это дает?

[2014-01-12 14:32] A commented on #50
Лид поправил в #51, посмотри, так лучше?

[2014-01-12 14:51] iamstarkov commented on #50
да

[2014-01-12 14:52] iamstarkov commented on #51
конечно

[2014-01-12 15:02] A commented on #51
Закрываю таск

[2014-01-12 15:02] #51 closed, assigned to nobody

[2014-01-12 15:34] #47 closed, assigned to nobody

[2014-01-13 10:05] #4 closed, assigned to nobody

[2014-01-13 10:05] #3 closed, assigned to nobody

[2014-01-13 10:29] A opened #53 "Информация о переводе"
Список участников и контакты (twitter/web-site)...

Возможно, стоит заменить эту строку:

[2014-01-13 10:30] iamstarkov commented on #53
Можно сделать так:

[2014-01-15 15:14] A commented on #8
#7 Объединена с главой 4

[2014-01-15 15:14] #8 closed, assigned to nobody

[2014-01-15 15:18] A commented on #48
В принципе, на iOS все достаточно сносно, можно не откладывать релиз, а сделать после.

[2014-01-15 16:41] A commented on #53
@matmuchrapna @freetonik Посмотрите футтер

[2014-01-15 16:57] freetonik commented on #53
Все ок.

[2014-01-15 17:20] freetonik commented on #5
"комбинации чего-то", а не "из чего-то" (возможно, ошибаюсь, это имхо)

[2014-01-15 18:03] iamstarkov commented on #53
мне неудобно, что я попал после слова «перевод». моя роль меньше или другая =(

[2014-01-15 18:03] iamstarkov commented on #48
если читается и ничего не режет глаз, то конечно

[2014-01-15 18:11] A commented on #53
Как лучше написать? Я, если честно, просто не знаю как называется ваша с Рахимом роль.

[2014-01-15 18:11] freetonik commented on #53
Аналогично, но я себя успокоил тем, что перевод это продукт, и мы работаем над ним.
Или я могу перевести пару глав :)

[2014-01-15 18:13] A commented on #53
Так я уже все перевел — ничего не осталось хД) Могу написать «коррекция перевода», или «редакторы», не знаю как правильно.

[2014-01-15 18:16] iamstarkov commented on #53
давайте поменяем на «Перевод» на «(Авторы | Авторы перевода)» или «Организаторы» и тогда уже можно будет говорить о продукте
вы как думаете?

[2014-01-15 18:23] iamstarkov opened #54 "привести адрес репозитория и адрес в твиттере к адресу сайта (имею ввиду largescalejavascript)"
сабж

профиты:
- единобразие
- понятнее

[2014-01-15 18:26] A commented on #53
=(
![560824](https://f.cloud.github.com/assets/1410106/1923290/78f5eeaa-7e12-11e3-8548-0864b9d09cb2.gif)

[2014-01-15 18:28] A commented on #54
Я за. Для этого нужно перерегистрировать аккаунт в тви? На гитхабе можно просто перименовать репо — ссылки не должны побиться.

[2014-01-15 18:30] iamstarkov commented on #53
«Участники перевода» вот!

[2014-01-15 18:30] A commented on #54
Увы, «largescalejavas» — это максимум того, на что способен твиттер.

[2014-01-15 18:30] iamstarkov commented on #53
если воспринимать не как продукт, а как процесс, то подходит абсолютно

[2014-01-15 18:31] A commented on #54
Изначально я хотел назвать тви так — https://twitter.com/largescalejs . Но он занят.

[2014-01-15 18:33] A commented on #53
А в целом как будет? Может быть:

[2014-01-15 18:37] iamstarkov commented on #54
может так?

twitter/largescaleJS_ru
github/largescaleJS_ru
largescaleJS.ru (домен могу купить)

[2014-01-15 18:37] iamstarkov commented on #53
такой вариант мне кажется более честным и больше нравится

[2014-01-15 18:39] freetonik commented on #53
Ñîãëàñåí.

[2014-01-15 18:41] iamstarkov commented on #53
кодировка в гитхаб-имейл реплаях побилась

[2014-01-15 18:42] freetonik commented on #53
Я же говорю – Ñîãëàñåí!

[2014-01-15 18:42] freetonik commented on #53
:) извините, на шутки потянуло
я сказал "согласен".

[2014-01-15 18:44] A commented on #54
Давай. Я, на самом деле, думал, что я немного поторопился с доменом — длинный получился.

[2014-01-15 18:44] iamstarkov commented on #54
зато прикольный

[2014-01-15 18:44] A commented on #54
А где ты будешь домен покупать? Я, по-моему, за 100 рублей купил. Могу еще раз, если ты на мастер-хосте за 500 покупать решил хД)

[2014-01-15 18:44] iamstarkov commented on #54
не продлевай его потом =)

[2014-01-15 18:45] iamstarkov commented on #54
я за 99 рублей на regod.ru могу купить

[2014-01-15 18:48] A commented on #54
Бери тогда) Я вот не могу вспомнить где брал

[2014-01-15 18:50] A commented on #54
Добавь в `CNAME` как DNS настроишь тогда, а старый, наверное, лучше удалить, чтобы путанницы не было. Сейчас тви переименую.

[2014-01-15 18:50] iamstarkov opened #55 "провязка с prose.io"
что думаете?

мне кажется, это самый удобный вариант получения правок для всех

[2014-01-15 18:51] A commented on #55
Ну, я на самом деле не понял, чем prose.io удобен для работы, но вот для правок от пользователей он, стопудов удобен. Ты об этом?

[2014-01-15 18:52] A commented on #54
Это ты об организации что-ли?

[2014-01-15 18:55] iamstarkov commented on #55
да.

нам он удобен, что пользователям не надо объяснять как прислать правки

[2014-01-15 18:56] iamstarkov commented on #54
нет. это оформительское

[2014-01-15 18:57] #53 closed, assigned to nobody

[2014-01-15 18:59] A commented on #55
Давай, сделаешь? Это до релиза лучше сделать?

[2014-01-15 19:01] A opened #56 "Купить и привязать домен largescalejs.ru"

[2014-01-15 19:02] A commented on #54
Переименовал репо, и тви. По домену создал таск. #56

[2014-01-15 19:02] #2 closed, assigned to nobody

[2014-01-15 19:07] iamstarkov commented on #56
домен купил. он пока в очереди на оформление, как станет доступным, так поменяю dns

[2014-01-15 19:09] A commented on #56
Тут все правильно, но я почему-то подумал, что закрыл эту ишью.

[2014-01-15 19:10] iamstarkov commented on #56
пройди по ссылкам(#19 #10) и ты всё поймёшь

[2014-01-15 19:12] iamstarkov opened #57 "несчитываемая фавиконка в браузере"
у меня полосочки сливаются в кирпич, а у вас?

[2014-01-15 19:13] iamstarkov commented on #54
урл репо не совпадает с урлом тви

[2014-01-15 19:13] A commented on #57
Да, то же самое . Можно две полоски сделать, где одна чуть больше другой, чтобы читалось лучше, что это книги.

[2014-01-15 19:15] iamstarkov commented on #57
я думаю можно и три оставить только уменьшить их

[2014-01-15 19:15] iamstarkov commented on #57
я поэкспериментирую сегодня

[2014-01-15 19:16] iamstarkov commented on #55
это некритично, но тем не менее жутко полезно, особенно если набегут гики с хабра

[2014-01-15 19:18] iamstarkov commented on #55
попробую, но не могу обещать

[2014-01-15 19:18] A commented on #57
Как-то так имел в виду
![fav 1-128](https://f.cloud.github.com/assets/1410106/1923778/c6b107fe-7e19-11e3-9860-da496caeb7a5.gif)
![fav 1](https://f.cloud.github.com/assets/1410106/1923779/c6b25e38-7e19-11e3-8540-4f7c7b802fc6.gif)

[2014-01-15 19:20] A commented on #54
Спасибо! Просмотрел!

[2014-01-15 19:20] iamstarkov commented on #57
тогда их лучше повернуть на бок и пусть две стоят ровно, а одна прислонённая (под наклоном)

[2014-01-15 19:21] #54 closed, assigned to nobody

[2014-01-15 19:21] A commented on #57
Интересная идея, попробуй!

[2014-01-15 19:26] #56 closed, assigned to iamstarkov

[2014-01-15 19:28] iamstarkov commented on #56
@shuvalov-anton не забудь обновить урл сайта в описании репозитория

[2014-01-16 06:55] A commented on #5
Закрываю, тк эту главу вычитал не только я.

[2014-01-16 06:55] #5 closed, assigned to nobody

[2014-01-16 06:56] A commented on #6
Закрываю, тк мне кажется, тут все ок. Но не плохо было бы вам тоже посмотреть, ребята!

[2014-01-16 06:57] A commented on #7
Вычитал, но думаю, что стоит еще кому-нибудь посмотреть эту главу.

[2014-01-16 07:11] iamstarkov commented on #56
готово http://largescalejs.ru/

[2014-01-16 07:13] A commented on #9
Вычитал, опубликовал. @matmuchrapna @freetonik вычитайте тоже, пожалуйста.

[2014-01-16 07:14] A commented on #56
Ага! Я уже как час пользуюсь

[2014-01-16 16:21] A commented on #35
Домен! Домен-то другой!

[2014-01-16 16:22] A commented on #35
Поправил

[2014-01-16 16:22] #35 closed, assigned to nobody

[2014-01-16 16:43] A commented on #7
Да, мне кажется тоже не нужна.

[2014-01-16 20:17] A opened #58 "Проверить орфографию текста"

[2014-01-16 20:42] iamstarkov commented on #6
вычитал. правки тут 10d8892edee38f7b173fc9f4719101ba9b4ee6f1

[2014-01-16 20:42] #6 closed, assigned to nobody

[2014-01-16 20:42] iamstarkov commented on #7
вычитал. правки тут 2b50b172e3d504be605e850dd6ff6dbc851d56b9

[2014-01-16 20:42] #7 closed, assigned to nobody

[2014-01-16 20:43] iamstarkov commented on #9
вычитал. правки тут f88fb618320f1fe712d405eab2336534a9255865

[2014-01-16 20:43] #9 closed, assigned to nobody

[2014-01-17 10:49] #58 closed, assigned to nobody

[2014-01-17 10:50] A opened #61 "Добавить список всех глав, без ссылок на непереведенные"

[2014-01-17 10:50] A opened #62 "Обновить кнопки-лайки"

[2014-01-17 11:32] A opened #66 "Версия для электронных книг"
Возможно есть смысл сделать версию для читалок (epub, mobi, ...). Нужно посмотреть лицензию, дает ли она на это права.

[2014-01-17 15:07] #61 closed, assigned to nobody

[2014-01-18 08:21] defshift commented on #66
+1

[2014-01-21 15:45] A opened #73 "typo.js ломает примеры кода"
@matmuchrapna код зачем-то тоже типографируется.
![screenshot 2014-01-21 21 44 46](https://f.cloud.github.com/assets/1410106/1964857/04833712-82b3-11e3-9c3b-c50fd2872e62.png)

[2014-01-21 15:46] A commented on #73
![screenshot 2014-01-21 21 46 23](https://f.cloud.github.com/assets/1410106/1964866/36849ad0-82b3-11e3-8bcc-95a5fa57d710.png)

[2014-01-21 17:59] iamstarkov commented on #73
А без него лучше?

[2014-01-21 18:07] A commented on #73
Да, я пока выключил.

[2014-01-21 18:13] iamstarkov commented on #73
уже на сайте можно посмотреть?

[2014-01-23 10:19] iamstarkov opened #85 "привести порядок англ глав в соответствие с русским списком"
а то сейчас rus/07_literal eng/08_literal

[2014-01-24 10:36] iamstarkov commented on #10
опубликовали, можно закрывать

[2014-01-24 10:36] #10 closed, assigned to nobody

[2014-01-24 10:36] iamstarkov commented on #11
Сегодня опубликуем, тоже надо закрыть

[2014-01-24 11:07] #11 closed, assigned to nobody

[2014-01-31 12:14] #12 closed, assigned to nobody

[2014-01-31 12:44] A commented on #12
Опубликовали в прошлый вторник. Забыли закрыть) http://largescalejs.ru/commonjs-modules/

[2014-01-31 14:14] #13 closed, assigned to nobody

[2014-02-01 10:12] havenchyk commented on #66
+1

[2014-02-01 10:14] Nea88 commented on #66
+1

[2014-02-04 15:07] #14 closed, assigned to nobody

[2014-02-06 16:39] A commented on #62
Хотя... Работает же)

[2014-02-06 16:39] #62 closed, assigned to nobody

[2014-02-07 09:49] #85 closed, assigned to nobody

[2014-02-07 10:43] #55 closed, assigned to nobody

[2014-02-07 12:21] #15 closed, assigned to nobody

[2014-02-11 04:12] iamstarkov opened #92 "Побилась базовая линия в тексте про лицензию"
сабж

[2014-02-11 04:22] A commented on #92
Браузер? Скриншот?

[2014-02-11 04:23] A commented on #92
Это, типа, ок:
![screenshot 2014-02-11 10 23 03](https://f.cloud.github.com/assets/1410106/2134025/3bf49f5c-92d4-11e3-88ad-07e613a8bd50.png)

[2014-02-11 04:24] A commented on #92
Хотя. Думаю, можно убрать текст.

[2014-02-11 04:32] iamstarkov commented on #92
Не ок, базовая линия уходит вниз у ссылки

[2014-02-11 04:37] A commented on #92
Увидел и понял почему. Поправлю

[2014-02-11 08:37] #16 closed, assigned to nobody

[2014-02-11 08:41] #92 closed, assigned to nobody

[2014-02-14 11:06] iamstarkov commented on #73
надо его выпилить

[2014-02-15 09:29] #73 closed, assigned to nobody

[2014-02-15 11:33] #17 closed, assigned to nobody

[2014-02-15 12:15] A opened #93 "Переписать или убрать блок «от переводчиков»"
После публикации последней части перевода

[2014-02-15 12:17] A opened #94 "Переписать или убрать блок «от переводчиков»"
После публикации последней части перевода

[2014-02-16 05:24] #93 closed, assigned to nobody

[2014-02-16 05:25] A commented on #93
#94

[2014-02-16 16:01] iamstarkov commented on #94
Зачем?

[2014-02-16 16:01] iamstarkov commented on #73
Спасибо

[2014-02-17 03:41] ghost commented on #66
Лицензия это позволяет сделать, но при условии, что книга будет выложена в сеть бесплатно. То есть продавать ее нельзя будет.

[2014-02-17 05:41] A commented on #66
@EugeneAbrosimov Отлично! А можно пруф-линк? Где смотреть лицензию?

[2014-02-18 15:35] #18 closed, assigned to nobody

[2014-02-18 15:35] #40 closed, assigned to nobody

[2014-02-18 15:35] #44 closed, assigned to nobody

[2014-02-18 15:36] A commented on #57
Может быть все в порядке?
![uzbagoysya_29146988_orig_](https://f.cloud.github.com/assets/1410106/2196654/6d37bf52-98b2-11e3-932c-1e7113f2d9c9.jpeg)

[2014-02-18 15:37] A commented on #94
убрал

[2014-02-18 15:37] #94 closed, assigned to nobody

[2014-02-18 17:27] iamstarkov commented on #57
раз опубликовались и всё ок, значит точно всё хорошо

[2014-02-18 17:27] #57 closed, assigned to nobody

[2014-02-26 08:33] A commented on #66
https://twitter.com/shuvalov_anton/status/438591463086387200

[2014-02-26 14:19] ghost commented on #66
@shuvalov-anton я видимо перепутал с другой его книгой. Книгу про паттерны можно выложить в сеть.

[2014-02-26 15:01] ghost commented on #66
А вот и ответ https://twitter.com/addyosmani/status/438684364860571648

[2014-02-26 19:40] havenchyk commented on #66
круто, а можно из md в epub без проблем перегнать?

[2014-02-26 19:42] iamstarkov commented on #66
@VladimirHavenchyk  мы думаем попробовать pandoc и https://leanpub.com/

[2014-02-27 20:27] iamstarkov commented on #48
можно закрывать? :laughing:

[2014-02-28 05:58] A commented on #48
Нужно посмотреть еще. Там с футтером проблема есть.

[2014-02-28 19:21] A commented on #66
Сделал. Посмотрите, пожалуйста, нет ли багов в тексте. [Ссылка на epub](http://largescalejs.ru/epub/largescale-js.epub)

[2014-02-28 19:39] A commented on #66
[mobi](http://largescalejs.ru/epub/largescale-js.mobi), [epub](http://largescalejs.ru/epub/largescale-js.epub), [fb2](http://largescalejs.ru/epub/largescale-js.fb2)

[2014-03-01 04:59] ghost commented on #66
Обложку надо бы.

[2014-03-01 05:38] havenchyk commented on #66
Можно попробовать заголовки глав выделить, например, с новой страницы начинать (перед заголовком оставлять пустое место). Можно посмотреть, как сделано в книжке по python http://swaroopch.com/notes/python/#download . Это я про epub

[2014-03-01 16:55] A commented on #66
@VladimirHavenchyk да, там что-то с форматом текста не ок — выключка по ширине, заголовки не разбиты. Попробую разобраться с опциями pandoc.
@EugeneAbrosimov Да. Пожалуй, нарисую =)

[2014-03-01 16:59] A commented on #66
- [x] Выяснить размеры обложки
- [x] Нарисовать
- [x] Выяснить, как можно начинать каждую главу с новой страницы (Либо через опции pandoc, либо через форматирование md)

[2014-03-01 18:03] A commented on #66
Обновил: [mobi](http://largescalejs.ru/epub/largescale-js.mobi), [epub](http://largescalejs.ru/epub/largescale-js.epub), [fb2](http://largescalejs.ru/epub/largescale-js.fb2)

[2014-03-01 18:03] A commented on #66
Посмотрите еще раз, нет ли проблем

[2014-03-02 06:02] havenchyk commented on #66
epub посмотрел. все равно заголовки новых глав сразу за текстом идут, не с новой страницы.

[2014-03-02 06:09] A commented on #66
@VladimirHavenchyk у меня идут с новой страницы. Я тольк `H2` с новой страницы сделал, как на сайте. Может быть в этом дело? https://www.dropbox.com/s/nxlejt87713z92a/Screenshot%202014-03-02%2012.07.42.png

[2014-03-12 08:06] A commented on #66
Все ок? Закрываю ишью?

[2014-03-12 08:06] A opened #103 "Публикация версий для электронных книг"
Нужно куда-то на сайте поместить ссылку.

[2014-03-12 08:10] #66 closed, assigned to nobody

[2014-03-12 08:10] #103 closed, assigned to nobody

[2014-03-12 08:10] havenchyk commented on #66
Mobi не проверил, epub пойдет, в fbreader для андроида главы не с новой страницы, но пойдет. В случае чего еще issues создать можно

[2014-03-12 08:11] A commented on #66
Отлично! Разместил ссылки на главной! Всем спасибо за участие)

[2014-03-12 08:16] havenchyk commented on #48
Как по мне, большие отступы слева и справа, футер нормально, реклама не очень удобно, случайные клики получаются (или так и задумано :))

[2014-03-12 08:19] A commented on #48
Вот это и надо поправить, но я никак не могу найти время =(

[2014-03-12 08:20] A commented on #48
Кликов, там, к сожалению, от силы штуки 2-3 в неделю, и то не мобильные, так что умысла никакого там нет.

[2014-03-12 09:13] A opened #104 "Сделать PDF-версию книги"

[2014-03-12 10:13] drugoi commented on #104
Можно еще и версию для печати для олдфагов поправить.

[2014-03-12 10:15] A commented on #104
Можно, но я, честно говоря, никогда такого не делал. Если есть желание сделать pull request — пожалуйста)

[2014-03-12 10:57] A opened #106 "Следующая книга"
Если кто-то хочет предложить книгу, можно написать сюда. Самый важный критерий, кроме полезности — это, пожалуй, время. В приоритете книги поменьше)

[2014-03-12 11:08] ghost commented on #104
А почему нельзя просто олдфагам распечатать pdf-версию?

[2014-03-12 11:12] drugoi commented on #104
@EugeneAbrosimov, действия для скачки pdf-версии (представим, что мне нужна только одна глава): скачать → найти нужную страницу → выставить диапазон страниц для печати → распечатать.
Действия для печатия с сайта: cmd/ctrl+P → печать.
К слову, так можно и сохранить отдельную страницу в PDF.
Совершенно реальный пример взятый из жизни.

[2014-03-12 11:12] A commented on #104
Кстати, да. По главе печатать менее удобно, чем печатеть PDF со всей книгой

[2014-03-12 11:13] A commented on #104
@drugoi в этом случае, действительно, можно добавить стили для печати. Думаю, хуже от них не будет точно.

[2014-03-12 11:36] iamstarkov commented on #106
Думаю, что ссылку на этот ишью надо добавить в шаблон страницы, только тогда от него будет польза

[2014-03-12 11:51] frenzzy commented on #106
Как на счет еще одной работы Эдди Османи?
**Learning JavaScript Design Patterns / Шаблоны проектирования JavaScript**
http://addyosmani.com/resources/essentialjsdesignpatterns/book/

Начало перевода было положено здесь: http://notabenoid.com/book/42061
Очень хочется видеть его в замечательном удобочитаемом формате как [largescalejs.ru](http://largescalejs.ru/)

[2014-03-12 12:31] sadcitizen commented on #106
@Frenzzy Я бы не стал ее переводить. Поясню. На данный момент существует книга Стояна Стефанова "Javascript. Шаблоны.". Они во многом пересекаются. Далее, совсем не давно я в порядке тренировки взялся самостоятельно реализовывать паттерны, опираясь на целый ряд источников (начиная от канонической книжки "банды четырех"). Работой Османи я остался не очень доволен. В некоторых местах он путается, ка

[2014-03-12 12:32] sadcitizen commented on #106
Можно поискать вот тут: http://jsbooks.revolunet.com/

[2014-03-12 12:35] br3t commented on #106
Предлагаю 'Developing Backbone.js Applications' ( https://github.com/addyosmani/backbone-fundamentals )
Даже кто-то начал делать перевод https://github.com/AlexFadeev/backbone-fundamentals

[2014-03-12 13:16] A opened #109 "Пересобрать книги"

[2014-03-12 13:28] intech commented on #104
Да, нужно хотя бы в одну страничку собрать все главы, чтобы её можно было и в pdf сохранить, и напечатать.

[2014-03-12 13:32] sadcitizen commented on #106
@br3t поддерживаю, но вот насколько она актуальна?

[2014-03-12 13:38] br3t commented on #106
Если судить по https://github.com/addyosmani/backbone-fundamentals/blob/gh-pages/chapters/00-prelude.md, обновлённому 3 дня назад, то она для версии 1.0.0, а сейчас у backbon'а 1.1.2

[2014-03-12 13:43] sadcitizen commented on #106
Отставание на три релиза? Исходя из чейнджлога, я бы не сказал, что они изменили что то фундаментальное.

[2014-03-12 13:50] br3t commented on #106
Я как раз склоняюсь к её актуальности

[2014-03-12 16:22] cheshirrrcat commented on #104
Ждем PDF-версию книги :octocat:

[2014-03-12 17:12] A commented on #104
Не могу понять, чем сконвертировать md в pdf. Pandoc отказывается, ссылаясь на какие-то странные пакеты. Есть идеи?

[2014-03-12 18:30] RusPosevkin commented on #106
«Developing Backbone.js Applications» на русском языке уже можно почитать, правда за денежку. http://habrahabr.ru/company/piter/blog/212023/

[2014-03-13 06:09] A opened #112 "Добавить опенграф-теги"
http://ogp.me/

[2014-03-13 06:16] drugoi commented on #112
Чтобы быть точнее:
http://ogp.me/#type_book
http://graph.facebook.com/schema/og/book

[2014-03-13 07:03] iamstarkov commented on #112
Ещё можно добавить опенкард теги твиттера и зарегистрировать сайт в
соответствующей тви-программе, и тогда превьюшки в тви будут красивыми

[2014-03-13 07:43] A opened #113 "Написать makefile для сборки книг"
Псевдокод:

[code]

[2014-03-13 08:55] message commented on #104
@shuvalov-anton https://www.npmjs.org/package/markdown-pdf

[2014-03-13 09:09] A commented on #104
@message почему-то он просто вставил скриншоты страниц, ссылки не работают, текст не выделяется.

[2014-03-13 12:36] dim0xff opened #115 "битая ссылка"
Глава№2 ссылка "Ребекка Мёрфи — Создание архитектуры JavaScript-приложений" битая.

Верная: http://rmurphey.com/blog/2010/08/27/code-org-take-2-structuring-javascript-applications/

[2014-03-13 12:50] #115 closed, assigned to nobody

[2014-03-13 12:50] A commented on #115
Спасибо, исправил!

[2014-03-14 05:23] A commented on #48
Пока, я думаю, можно закрыть, тк основную багу с налезающим на контент футтером я исправил

[2014-03-14 05:23] #48 closed, assigned to nobody

[2014-03-14 05:36] A opened #116 "Сделать сниппеты для поисковиков"

[2014-03-14 06:21] iamstarkov commented on #116
ты имеешь ввиду микроформаты?

[2014-03-14 07:20] A commented on #116
Я знаю, что есть возможность повлиять на поисковый сниппет, и я хочу сделать его более привлекательным. Но я не знаю пока, как это сделать

[2014-03-14 08:43] iamstarkov commented on #116
@mistakster писал о своих экспериментах над микроразметкой и сниппетами выдачи в своём блоге, но я не могу найти

[2014-03-14 17:13] gurugray commented on #113
:+1:

[2014-03-14 17:14] gurugray commented on #113
Думаю, что и не нужно хранить собраные файлы в репозитории

[2014-03-14 17:14] gurugray commented on #113
`epab` и `makebook` что за утилиты?

[2014-03-14 17:17] gurugray commented on #106
«Functional JavaScript: Introducing Functional Programming with Underscore.js»
http://www.amazon.com/Functional-JavaScript-Introducing-Programming-Underscore-js/dp/1449360726
на первый взгляд кажется полезной :)

[2014-03-14 17:19] A commented on #113
Это совсем псевдокод, чтобы не забыть. Смысл такой:
1. Склеить все файлы перевода кроме `reamde.md`
2. Раскомментировать заголовки в полученном epub
3. скомпилировать epub, fb2, mobi и pdf из получившегося epub

[2014-03-14 17:21] A commented on #106
@gurugray ее можно перевести? Я имею в виду лицензию

[2014-03-14 17:21] gurugray commented on #113
понятно, пришлю PR

[2014-03-14 17:22] gurugray commented on #106
@shuvalov-anton что-то не подумал :( я, к сожалению, не силён в лицензиях :\

[2014-03-15 10:06] sadcitizen commented on #106
@gurugray книга стоит денег. К тому же эти книги спустя определенное время появляются в русском переводе. Так что нам никто не даст ее просто так перевести.

Если и стоит что-то переводить, то оно должно быть открытое для всех.

[2014-03-15 10:14] A commented on #106
Обычно это либо Creative Commons лицензия, либо что-то бесплатное (как с этой книгой). В последнем случае, нужно спросить у автора разрешение на перевод.

[2014-03-15 13:49] cheshirrrcat commented on #104
Я перевел книгу в PDF. У меня на айпаде все хорошо работает. Всем добра :smiley:
https://www.dropbox.com/s/inw02c71ha7qm8a/largescale-js.pdf

[2014-03-15 14:26] A commented on #104
Супер! А как ты это сделал? Все таки нам не один раз придется перевести epub в pdf

[2014-03-15 14:30] cheshirrrcat commented on #104
Все просто) Только он не добавляет отступы, чтобы было как сейчас я в Доп.настройках поставил поля 2 см
http://ebook.online-convert.com/ru/convert-to-pdf

[2014-03-15 14:31] A commented on #104
Отлично)

[2014-03-15 14:58] #104 closed, assigned to nobody

[2014-03-16 16:38] A commented on #116
https://support.google.com/webmasters/answer/99170?hl=ru

[2014-03-17 12:42] A opened #121 "Во всех электронных книгах пропущена 6-я глава"

[2014-03-17 13:12] iamstarkov commented on #121
так странно

[2014-03-17 13:17] A commented on #121
@matmuchrapna нет. Я же руками копировал главы в epub.md

[2014-03-22 16:14] drugoi commented on #106
А как насчет —https://github.com/getify/You-Dont-Know-JS ?
В процессе, но вроде занимательная книга.

[2014-04-03 14:57] A commented on #113
Получилось так:

[code]

но `makefile` не сделал.

[2014-04-03 15:05] #109 closed, assigned to nobody

[2014-04-03 15:05] #121 closed, assigned to nobody

[2014-04-03 15:11] gurugray commented on #113
ну make не страшно, а вот в текущем epab.md другой код это меня смутило, но времени разбиратся небыло, например вот эти
https://github.com/shuvalov-anton/largescaleJS_ru/blame/gh-pages/_includes/translation/rus/04_brainstorming.md#L5

[2014-04-03 15:17] A commented on #113
Про код не совсем понял. `{:class="message"}` вроде как использовался изначально.

[2014-04-03 15:28] gurugray commented on #113
он был в самих файлах, а в epab его небыло https://github.com/gurugray/largescaleJS_ru/blame/dev/epub/epub.md#L247

[2014-04-03 15:29] gurugray commented on #113
там ещё были различия, кажется, но я уже не помню :)

[2014-04-04 04:27] A commented on #113
А, я понял. Я `md` сохранял в другой файл, и исключил его из коммита, а `epub.md` я просто забыл удалить. Теперь все ок.

[2014-04-04 10:53] gurugray commented on #113
ок, понятно :)

[2014-04-10 08:18] havenchyk commented on #106
может, статью вроде [этой](http://addyosmani.com/writing-modular-js) ?

[2014-04-10 09:35] A commented on #106
@havv мне кажется, AMD уже в прошлом)

[2014-04-10 09:51] havenchyk commented on #106
@shuvalov-anton, а вы не могли бы рассказать, почему? толкование для чайников в js :smile:

[2014-04-10 10:03] A commented on #106
@havv мне надо проверить свои догадки, так что это пока на уровне имхо. Смысл примерно такой — AMD заставляет программиста писать замыкания и другие подробности самостоятельно. Как мне кажется, это обусловленно тем, что в те времена, когда был популярен AMD системы сборки не были популярны (grunt, gulp, различные CLI), и AMD должен был работать на стороне браузера, чем и объясняются излишние требо

[2014-04-10 10:58] havenchyk commented on #106
@shuvalov-anton, спасибо, популярно и доступно изложили. Правда у меня новые вопросы появились, извините, если это не самое лучшее место для подобного рода вопросов.
- то есть на текущий момент преимуществом amd (к _requirejs_ тоже относится?) является не представление кода из разных js файлов в виде удобных модулей, а асинхронная загрузка? (что немного спорно для mobile, tablet в условиях плохого

[2014-04-10 11:11] A commented on #106
@havv
- Мне, честно говоря, еще не приходилось использовать асинхронную загрузку (именно загрузку по сети модулей при необходимости), лично мне кажется, что это достаточно редкий кейс (имхо). CJS обеспечивает именно удобную модульность и переиспользование кода.
- Программист пишет CJS модули, но CJS не имеет нативной поддержки в браузере, поэтому обычно при сборке на клиенте такие модули оборачива

[2014-04-10 11:24] havenchyk commented on #106
@shuvalov-anton это я неудачно выразился, это и подразумевалось. Спасибо за ответы!

[2014-04-10 11:26] A commented on #106
@havv я все-таки рекомендую относиться к тому, что я написал, как к мнению, которое, возможно, в чем-то неправильное) А-то научу еще xDD)

[2014-04-27 10:45] A opened #126 "Подключить printfriendly"
Сейчас у нас нет адекватного механизма для генерации PDF. Только что в [Single page apps in depth](http://singlepageappbook.com/) наткнулся на сервис [printfriendly.com](http://www.printfriendly.com/), который конвертирует html-страницу в pdf. Возможно, стоит подключить этот сервис, чем каждый раз перегенерировать заново страницу.

Надо создать одну `markdown`-страницу, заинклудить туда все главы,

[2014-04-29 05:47] A commented on #106
Присматриваюсь к [Single page apps in depth](https://github.com/mixu/singlepageappbook), кажется, хорошая книга. Пока еще не успел прочитать — посмотрел бегло — понравилась. И размером, и содержанием и лицензией. Как вам?

[2014-04-29 05:56] A opened #127 "Прикрутить disqus"
Думаю, это хорошая идея — в спорах рождается истина =)

[2014-04-29 08:20] br3t commented on #106
Я за :)

[2014-04-29 08:21] drugoi commented on #106
@shuvalov-anton я за. По SPA на русском не так много хорошей информации.

[2014-04-29 08:25] gurugray commented on #106
тоже за :)

[2014-04-29 08:31] havenchyk commented on #106
:+1:

[2014-04-29 13:14] sadcitizen commented on #106
@shuvalov-anton я тебе ссылку на нее еще 3 марта твитом скинул, ты только рассмотрел? :)

[2014-04-29 13:19] A commented on #106
@instanceofpro Так и есть, плюс только сейчас стало понятно, что есть время на новый перевод :)

[2014-04-29 13:19] sadcitizen commented on #106
@shuvalov-anton ну тогда можно начинать.

[2014-04-29 13:23] A commented on #106
Пока еще есть несколько сложностей, к примеру, перенос книги Osmani в другой каталог с сохранением ссылок, может быть, где-то через пару недель можно будет начать, если все будет ок со временем

[2014-04-29 13:45] sadcitizen commented on #106
Зачем ее куда то переносить? На новую книгу нужно сделать отдельную репу.

[2014-04-29 13:50] A commented on #106
Мне кажется логичным все книги собрать на largescalejs.ru

[2014-04-29 13:55] sadcitizen commented on #106
Хм, спорный вопрос. Я бы все-таки сделал отдельный репозиторий.

[2014-04-29 14:01] br3t commented on #106
Отдельной репой как раз логичней
Просто отвязать largescalejs.ru от репозитария и накидать ссылок на репозитарии с разными книгами

[2014-04-29 14:11] A commented on #106
Может быть. В плане разработки, отдельная репа, точно лучше. А вот как-бы  сделать так, чтобы по ссылке `largescalejs.ru/addy-osmany-patterns/` открывалась книга Османи, а не редирект на другие страницы я пока не знаю. Приходит в голову только вариант с подключением отдельных репозиториев через сабмодули git.

[2014-04-29 14:18] sadcitizen commented on #106
Ты не хочешь иметь домен еще один?

[2014-04-29 14:21] br3t commented on #106
Можно отвязать домен от гитхаба, а потом настроить редиректы какие хочешь

[2014-04-29 14:23] sadcitizen commented on #106
@br3t проще поддомены завести и их уже с гитхабу привязать, если это возможно, конечно.

[2014-04-29 14:57] A commented on #106
Как вариант. Я хочу, чтобы largescalejs.ru был местом, куда можно было бы придти и почитать хорошие книги по JS на русском, по этому, еще один домен регистрировать не хочется. Ну и пузомерки всякие — тиц, PR, ссылки, все это, думаю, тоже важно для того, чтобы по большему количеству релевантных запросов сайт находили в поиске. Ну и я подумываю о скромной монетизации, как-никак, исключительно на доб

[2014-04-29 15:01] sadcitizen commented on #106
Тогда надо домен более общий брать, а largescalejs.ru оставить за этой книгой. Кстати, сразу внесу поправку. А почему бы не подключать на страницы с главами комментарии (disqus тот же). Чтобы можно было по месту холиварить.

[2014-04-29 15:02] A commented on #106
Пару часов назад как-раз завел таску #127 Действительно надо бы

[2014-04-29 15:03] A commented on #106
Прямо сейчас сделаю, пожалуй

[2014-04-29 15:05] sadcitizen commented on #106
Ну просто я то как раз собирался так же с делать с документацией по marionette.js

[2014-04-29 15:06] A commented on #106
Комментарии к документации? Любопытно)

[2014-04-29 15:07] sadcitizen commented on #106
Мне этого всегда не хватало в других местах. Когда есть раздел доков, в комментариях к которому всегда можно задать вопрос и получить ответ.

Нужно создавать условия для общения. Вполне возможно, что у кого то найдутся хорошие дополнения к документации. Кто то просто сможет поделиться опытом. Стоящие комментарии можно будет вообще внести в документацию.

[2014-04-29 15:10] A commented on #106
Интересно посмотреть, что из этого выйдет — может очень круто получиться.

[2014-04-29 15:10] #127 closed, assigned to nobody

[2014-04-29 15:11] sadcitizen commented on #106
@shuvalov-anton пойду дальше тогда переводить :) надо еще сайт сделать, а времени мало.

[2014-04-29 15:14] A commented on #106
Сделал комменты :)

[2014-04-29 15:18] sadcitizen commented on #106
@shuvalov-anton в твиттер напиши об этом

[2014-05-13 04:56] drugoi commented on #127
Ребята, может сделать так, чтобы он сразу не грузился?
Сейчас не могу найти, но думаю, что вы поняли идею.

[2014-11-24 11:28] bruha opened #131 "Bad link in part 2"
Bad link to http://stackoverflow.com/questions/5112899/knockout-js-vs-backbone-js-vs
in part 2 (http://largescalejs.ru/lets-review-your-current-architecture/)

[2014-11-24 11:39] bruha opened #132 "Duplication of paragraphs in part 3"
Duplication of paragraphs in part 3, see [screenshot](http://www.clipular.com/c/4609082218512384.png?k=0yrRoAkpAhUbXMO-5aluEe8W7uE)

[2014-11-24 11:59] A commented on #131
Looks like a good pull request)

[2014-11-24 12:06] bruha opened #133 "Bad link in part 7"
Bad link in part 7
Bad one: http://blog.rebeccamurphey.com/2009/10/15/using-objects-to-organize-your-code
Right link: http://rmurphey.com/blog/2009/10/15/using-objects-to-organize-your-code/

[2014-11-24 12:35] bruha opened #134 "Mistake in part 10, links section"
Mistake in part 10, links section, see [screenshot](http://www.clipular.com/c/5224412049571840.png?k=xz_5MWUtm8IpOgtgSoSnima0Gwo).
Should be: "не относится **к** JavaScript".

[2014-11-24 12:50] bruha opened #135 "Translate images from parts 10, 13"
Translate images from parts 10, 13.

[2014-11-24 12:55] bruha opened #136 "Bad link in FAQ"
Bad link in FAQ.
Bad one: http://bit.ly/orGVOL (goes to the home page, not tutorial)
Right link: http://code.tutsplus.com/tutorials/writing-modular-javascript--net-14746

[2015-01-18 14:53] rutsky opened #139 "Part of text missing: having an architecture which is flexible enough to support**not**"
This paragraph misses it's ending in english version (and has strange russian translation):

[code]

https://github.com/shuvalov-anton/largescaleJS_ru/blob/b213a4765965e2d6c71095b2afc45335f6fa32ad/_includes/translation/eng/03_think-long-term.md

What is the source of english version?

I found english version only in the author's blog post: http://addyosmani.com/largescalejavascript/:

[code]

[2015-01-20 08:22] A commented on #139
Good catch! I think it has been pandoc/readability parser's bug. PR is welcome :D

[2015-01-20 11:37] rutsky commented on #139
So what is the proper source of the english version?

Should I copy/paste from Addy Osmani's blog (http://addyosmani.com/largescalejavascript/) or sources of his book can be found somewhere?

[2015-01-20 11:39] A commented on #139
yes, it is http://addyosmani.com/largescalejavascript/

[2015-01-21 21:17] rutsky commented on #132
This issue should be fixed in PR #142

[2015-01-22 22:43] rutsky opened #147 "Normalize sections and chapters in Markdown"
1. Articles has commented headers with different heading levels:

[code]
1. In some articles headings are used, e.g. in [1]:

[code]

But why third level?

In some articles headings are just in bold, e.g. in [2]:

[code]

[1] https://github.com/shuvalov-anton/largescaleJS_ru/blob/gh-pages/_includes/translation/rus/02_lets-review-your-current-architecture.md

[2] https://github.com/shuvalov-anton/l

[2015-01-23 09:37] A commented on #147
Oh, hard question. mb speak in russian? :D

[2015-01-23 09:39] A commented on #147
But I totally understand your question.  I need some time to remember the answer. But, anyway, you can change bold headings to correct 3rd levels. If i don't mistake, commented headers are used to compile epub.

[2015-01-23 10:52] iamstarkov commented on #147
Эгей, книга на русском языке и для русско-говорящих. Это один из тех редких случаев, когда русский язык в ишью уместен

[2015-01-23 12:04] A commented on #147
@matmuchrapna Ю а абсолютли райт дьюд хДДД @rutsky

[2015-01-23 13:00] rutsky commented on #147
Окей-окей :)
1. Что сделать с уровнями заголовков в начале файла в комментариях?

[code]

Их можно привести к одному уровню или уровень имеет какое-то значение? И если можно, то к какому?
1. Заголовки внутри глав: наверно, стоит везде использовать именно заголовки (`###`). Тогда какого уровня? Почему именно третьего?

[2015-01-23 13:08] A commented on #147
Посмотри, что получается после сборки электронных книг:

[code]

Я уж не помню точно все детали

[2015-01-28 00:15] rutsky commented on #147
Так просто книги не собираются... `epub.md` отстутствует, _sources.md вместо `epub.md` не кушается pandoc-ом.
Было бы здорово, если бы для сборки книги был работающий Makefile :)

[2015-01-28 10:29] A commented on #139
Time to update compiled books. link to #113

[2015-01-28 10:50] rutsky commented on #132
@shuvalov-anton, this issue is fixed in already merged PR #142

[2015-01-28 10:51] rutsky commented on #139
@shuvalov-anton I believe this issue is resolved and can be closed sinece PR #142 is merged.

[2015-01-28 11:46] rutsky commented on #147
Вот баг про написание Makefile: #113

[2015-01-28 11:55] A commented on #139
@rutsky  Yep, but we should update either of the ebooks as well.

[2015-01-28 11:57] A commented on #132
fixed in web version. #139 issue is for update ebooks.

[2015-01-28 11:57] #132 closed, assigned to nobody

[2016-01-18 14:43] mercuree opened #155 "Продлить домен largescalejs.ru"
Парни, домен истек, продлите пожалуйста.

[2016-01-18 14:44] iamstarkov commented on #155
я работаю над этим

[2016-01-21 10:47] A commented on #155
@iamstarkov do you have any updates?

[2016-02-01 14:30] A commented on #155
[code]

So, we need to wait 2 weeks before I will steal ownership.

[2016-02-01 15:05] iamstarkov commented on #155
yep, its true

[2016-02-01 15:06] iamstarkov commented on #155
ensure to create ticket on domain buying

[2016-02-24 12:29] A commented on #155
Lol) Someone bought the domain :D

[2016-02-24 12:29] #155 closed, assigned to A

[2016-02-24 13:06] iamstarkov commented on #155
woot! was thinking its you

[2016-02-26 11:24] shantelle opened #156 "looks good"
Kudos

[2016-02-27 17:06] A commented on #155
Not me. I dunno who has bought it.

[2016-03-07 12:46] A commented on #156
mm? Они вообще работают в России? Есть что-нибудь почитать об этом?

[2016-03-07 14:23] iamstarkov commented on #156
@A did you understand smth? i didnt get original message from @shantelle

[2016-03-12 21:39] A commented on #156
https://github.com/masukomi/kudos — sorta likes, but i guess, it's sideproject of TPB about interactive donations. Bcz of this i've written previous comment. But i can't find any info about it. Mb it's just another behavior for like-buttons… Have no idea. lol

[2021-08-31 08:27] #113 closed, assigned to nobody

[2021-08-31 08:27] #106 closed, assigned to nobody

[2021-08-31 08:27] #112 closed, assigned to nobody

[2021-08-31 08:27] #126 closed, assigned to nobody

[2021-08-31 08:28] #116 closed, assigned to nobody